$grey: grey
$green: green

body 
  margin: 0
  padding: 0


// Header styling
header 
  padding: 10px
  border-bottom: solid $grey
  margin-top: 10px


// Navigation styling
nav 
  width: 80%
  margin: 0 auto

  ul 
    list-style-type: none
    margin: 0
    padding: 0
    display: flex
    justify-content: space-between
    align-items: center

    #left, #right 
      display: flex
      align-items: center
    

    #right 
      margin-left: auto
    

    li 
      margin-right: 20px
      
      a 
        text-decoration: none
        color: black
      
    
  


// Photo links styling
.photo-links 
  list-style-type: none
  margin: 0
  padding: 0
  display: flex
  align-items: center

  li 
    margin-right: 10px

    a img 
      width: 50px
      height: auto
    
  


// Sections styling
.section1, .section2 
  margin: 0 auto
  margin-top: 50px
  width: 800px

  &.section1 
    width: 600px
  


// Search bar styling
.searchbar 
  display: inline-flex

  #search 
    width: 800px
    border: solid $green 5px
    height: 30px
    border-radius: 50px
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px

// General styling
.grey 
  color: $lightgrey


.center 
  border-left: solid $lightgrey 2px
  border-right: solid $lightgrey 2px
  padding: 10px


h5 
  margin: 0


input 
  outline: none
  border: none

.superVip 
  display: flex
  width: 500px


.homes 
  display: flex
  margin-top: 20px

  .sizeOFimg 
    width: 300px
  

  .geenvip 
    background-color: $green
    width: 50px
    padding: 5px
    border-radius: 50px
    position: absolute
    top: 15px
    left: 15px
  

  .homeIMG 
    position: relative
  
  a 
    text-decoration: none
    color: black
  

  .individualHome 
    margin: 5px
  


// Footer styling
footer 
  border-top: 50px solid $grey
  color: $lightgrey
  padding: 20px

  .footer-columns
    display: flex
    justify-content: space-between
  
    .footer-column 
      flex: 1
      margin-right: 20px
    
  

  ul 
    list-style-type: none
    padding: 0
  

  li 
    margin-bottom: 10px
  
