body {
  margin: 0;
  padding: 0;
}

header {
  padding: 10px;
  border-bottom: solid rgb(211,211 ,211,0.3 );
  margin-top: 10px;
}

nav {
  width: 80%;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul #left, nav ul #right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul #right {
  margin-left: auto;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.photo-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photo-links li {
  margin-right: 10px;
}

.photo-links li a img {
  width: 50px;
  height: auto;
}

.section1, .section2 {
  margin: 0 auto;
  margin-top: 50px;
  width: 800px;
}

.section1.section1, .section2.section1 {
  width: 600px;
}

.searchbar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.searchbar #search {
  width: 800px;
  border: solid green 5px;
  height: 30px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin-left: 10px;
}

.grey {
  color: grey;
}

.center {
  border-left: solid grey 2px;
  border-right: solid lgrey 2px;
  padding: 10px;
}

h5 {
  margin: 0;
}

input {
  outline: none;
  border: none;
}

.superVip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
}

.homes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.homes .sizeOFimg {
  width: 300px;
}

.homes .geenvip {
  background-color: green;
  width: 50px;
  padding: 5px;
  border-radius: 50px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.homes .homeIMG {
  position: relative;
}

.homes a {
  text-decoration: none;
  color: black;
}

.homes .individualHome {
  margin: 5px;
}

footer {
  border-top: 50px solid grey;
  color: grey;
  padding: 20px;
}

footer .footer-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-columns .footer-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
  color: black;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer li {
  margin-bottom: 10px;
  color: black;
}
/*# sourceMappingURL=style.css.map */
.green-line:hover{
  border-bottom: solid 2px green;
  padding-bottom: 10px;
}

.xazi{
  text-decoration: underline;
}

.xazi-2:hover{
  text-decoration: underline;
}

.icon{
  height: 20px;
  width: auto;
}

.divi{
  display: flex;
  background-color: gray;
  border-radius: 20px;
  padding: 10px;
}

.divi:hover{
  display: flex;
  background-color: green;
  border-radius: 20px;
  padding: 10px;
}
