body {
    margin: 0;
    padding: 0;
    margin-right: 200px;
    background-color: lightgray;
  }
  
  header {
    padding: 10px;
    border-bottom: solid rgb(211,211 ,211,0.3 );
    margin-top: 10px;
    background-color: white;
  }
  
  nav {
    width: 80%;
    margin: 0 auto;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: cente;
        -ms-flex-align: center;
            align-items: center;
  }
  
  nav ul #left, nav ul #right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  nav ul #right {
    margin-left: auto;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: black;
  }
  
  .photo-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .photo-links li {
    margin-right: 10px;
  }
  
  .photo-links li a img {
    width: 50px;
    height: auto;
  }
  .green-line:hover{
    border-bottom: solid 2px green;
    padding-bottom: 10px;
  }
  
  .xazi{
    text-decoration: underline;
  }
  
  .icon{
    height: 20px;
    width: auto;
  }
  
  .divi{
    display: flex;
    background-color: rgb(231, 227, 227);
    border-radius: 20px;
    padding: 10px;
  }
  
  .divi:hover{
    display: flex;
    background-color: green;
    border-radius: 20px;
    padding: 10px;
  }

  .box-1{
    width: 500px;
    border: solid black 0px;
    height: 700px;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 300px;
    margin-left: 1200px;
    background-color: white;
  }
  
  .qoneba{
    position: absolute;
    margin-left: 80px;
    margin-top: 45px;
  }

  .input{ 
    margin-left: 80px;
    margin-top: 90px;
    width: 300px;
    height: 50px;
    border: solid lightgray 1px;
    border-radius: 10px;
  }

.shesatani{ 
    position: absolute; 
    margin-left: 80px; 
    margin-top: 170px; 
  }

  .input-2{
    margin-left: -305px;
    margin-top: 220px;
    width: 320px;
    height: 50px;
    border: solid lightgray 1px;
    border-radius: 10px;
  }

  .weltve{
    position: absolute; 
    margin-left: 80px; 
    margin-top: 300px; 
  }

  .input-3{
    margin-left: -327px;
    margin-top: 340px;
    width: 320px;
    height: 50px;
    border: solid lightgray 1px;
    border-radius: 10px;
  }

.wliuri{
    position: absolute; 
    margin-left: 80px; 
    margin-top: 410px; 
}

.input-4{
    margin-left: -327px;
    margin-top: 450px;
    width: 320px;
    height: 50px;
    border: solid lightgray 1px;
    border-radius: 10px;
}

.input-5{
    margin-left: -327px;
    margin-top: 600px;
    width: 320px;
    height: 50px;
    border: solid lightgray 1px;
    border-radius: 10px;
    text-align: center;
    color: white;
    background-color: green;
    color: white;
}

.text{
    color: white;
    margin-left: 100px ;
    margin-top: 100px;
    font-size: 20px;
    position: absolute;
}

.box-2{ 
    width: 400px;
    border: solid black px;
    height: 300px;
    border-radius: 30px;
    display: flex;
    margin-top: 100px;
    margin-left: 30px;
    background-color: gray;
    position: absolute;
}

.box-3{
    margin-left: 30px;
    margin-top: 220px;
    width: 300px;
    height: 50px;
    border: solid lightgray 1px;
    border-radius: 10px;
    position: absolute;
}

footer {
    border-top: 50px solid grey;
    color: gray;
    padding: 20px;
  }
  
  footer .footer-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  footer .footer-columns .footer-column {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 30px;
    color: black;
  }
  
  footer ul {
    list-style-type: none;
    padding: 0;
  }
  
  footer li {
    margin-bottom: 10px;
    color: black;
  }