body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: lightgray;
}

#header {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    width: 100%; /* Full width of the viewport */
    margin-bottom: 20px;
}

#logo {
    max-width: 100px;
    max-height: 100px;
}

#language-selector {
    margin-left: 260px;
}

#authorization-text {
    text-align: center;
    margin-right: 210px;
}

#login-form {
    max-width: 450px;
    margin: 20px auto;
}

a{
    text-decoration: none;
    color: rgb(33, 147, 212);
    font-weight: bold;
}

#recover-password{
    text-align: right;
    margin-top: 10px;
    color: black;
}

#recover-password  a{
    color: black;
}

#social-buttons {
    text-align: center;
    margin-top: 20px;

}

.input{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    border: solid lightgrey;
    padding-left: 50px;
}
.submit{
    width: 460px;
    height: 50px;
    border-radius: 25px;
    background-color: skyblue;
    border: none;
}
select{
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    width: 120px;
}
#social-buttons button {
    background-color: white;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    display: inline-flex;
    margin: 0 10px; 
    height: 50px;
    width: 140px;
}

#social-buttons img{
    height: 30px;
    margin-right: 10px;
} 

